<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="thriftClient" type="Thrift.Client.Config.ThriftConfigSection,Thrift.Client"/>
  </configSections>

  <thriftClient>
    <services>
    
      <service name="TcyAppDemoThrift" host="localhost:16001"  isMult="true" minConnectionsNum="1" >

      </service>

    </services>
  </thriftClient>
</configuration>